*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.gradle
.gradle/*
/build
/captures
.externalNativeBuild
.cxx
local.properties

/captures
/build
/local.properties
/captures
/build
/local.properties

/captures
/build
/local.properties

/captures
/build
/local.properties

/captures
/build
/local.properties

/captures
/build
/local.properties

/captures
/build
/local.properties

/captures
/build
/local.properties

/captures
/build
